<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  @if (iconePrefixo()) {
    <mat-icon matPrefix>
      {{ iconePrefixo() }}
    </mat-icon>
  }
  <input
    matInput
    [placeholder]="placeholder()"
    [formControl]="control()"
    [name]="label()"
    ngDefaultControl
    [matAutocomplete]="auto"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete
    [displayWith]="displayFn"
    autoActiveFirstOption
    #auto="matAutocomplete"
  >
    @for (estado of filteredOptions$ | async; track estado.id) {
      <mat-option [value]="estado">
        {{ estado.nome }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
